@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --select-bgcolor: #d8e6ff;
  --select-color: #133774;
  --select-fontweight: 500;

  font-family: "Red Hat Display", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  color: #303030;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 1em;
  min-width: 320px;
  min-height: 100vh;
}

button {
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  cursor: pointer;
  border: 0px;
  background-color: transparent;
}
